<footer class="bd-footer text-light py-3 mt-3 bg-dark text-center">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <span class="align-middle">Created by Vikalp Gandha</span>
        </div>
        <div class="col-4">
          <span class="align-middle">Copyright &copy; 2022</span>
        </div>
        <div class="col-4">
          <ul class="list-unstyled">
            <li><a href="https://github.com/kakkarot9712/WebAppsCollection" class="link-light" target="_blank">Source Code</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>