<div class="d-flex justify-content-center align-items-center">
    <button class="btn btn-primary text-center" id="p-name-set" type="button" (click)="openModal()">Change Player Names</button>
</div>

<div class="modal" (click)="dismissModal($event)" tabindex="-1" #modal>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Set player Names</h5>
                <button type="button" class="btn-close btn-modal-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()"></button>
          </div>
          <div class="modal-body">
            <form (ngSubmit)="onSubmitHandler(nameForm)" #nameForm="ngForm">
                <div class="form-group mb-3">
                    <label for="player1" class="form-label"><b>Name of Player 1</b></label>
                    <input type="text" class="form-control" autocomplete="name" id="player1" name="p1" ngModel required>
                </div>
                <div class="form-group mb-3">
                    <label for="player2" class="form-label"><b>Name of Player 2</b></label>
                    <input type="text" class="form-control" autocomplete="name"  id="player2" name="p2" ngModel required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary mx-2">Save changes</button>
                </div>
            </form>
          </div>
        </div>
    </div>
</div>
