<div class="game-info d-flex justify-content-between m-3">
    <div id="p1" class="d-flex flex-column">
        <h2 id="p1-name">{{ player1 }}</h2>
        <img src="../assets/cross.png" class="p-2 border border-danger" alt="cross" style="width: 100px;">
    </div>
    <div id="score-card" class="d-flex flex-column">
        <h2>Score Card</h2>
        <hr>
        <h5 id="p1-score">{{ player1 }} : {{ p1_score }}</h5>
        <h5 id="p2-score">{{ player2 }} : {{ p2_score }}</h5>
    </div>
    <div id="p2" class="d-flex flex-column">
        <h2 id="p2-name">{{ player2 }}</h2>
        <img src="../assets/circle.png" alt="cross" class="p-2 border border-primary" style="width: 100px;">
    </div>
</div>
