<h1>Welcome To Newsfeed!</h1>
<br>
<p>Here You can access Top Headlines around the world</p>
<button class="btn btn-primary mb-3" (click)="goto('top-headlines')"> Top Headlines </button>
<p>OR You can search news according to your needs!</p>
<button class="btn btn-primary mb-3" (click)="goto('search')"> Search News </button>
<br>
<br>
<h2>Happy Reading!</h2>
<hr>
<h5>This part of web app is powered by <a href="https://newscatcherapi.com/" class="link-primary" target="_blank">&lt;/newscatcher&gt; </a></h5>
