.modal {
    display: none;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1040;
    justify-content: center;
    align-items: center;
}

.modal-dialog {
    z-index: 1050;
}
