<div class="col" *ngIf="news">
    <div class="card h-100">
        <div class="card-header">
            <small class="text-muted">Publisher: {{ news.source.name }}</small>
        </div>
        <!-- <img src='{{ news.urlToImage }}' class="card-img-top max-width: 10rem" alt="visual-representation"> -->
        <div class="card-body">
            <h5 class="card-title">{{ news.title }}</h5>
            <p class="card-text">{{ news.description }}</p>
            <a [href]="news.url" target="_blank"><button class="btn btn-primary">Read More</button></a>
        </div>
        <div class="card-footer">
            <small class="text-muted">News Published : {{ getTime(news.publishedAt) }}</small>
        </div>
    </div>
</div>
